<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog Web App</title>
</head>
<body>
    <h2>Edit Post</h2>
    <form class="button" action="/edit/<%= post.id %>" method="POST">
        <textarea cols="40" rows="5" name="postContent" wrap="physical"><%= post.postContent %></textarea><br>
        <input type="submit" value="Confirm Changes">
    </form>
</body>
</html>
